@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap');

.sidebar {
    float: left;
    width: 300px;
    height: 800px;
    border: 1px solid #000
}

.content {
    float: inline-start;
    width: 640px;
    font-family: 'Lexend', sans-serif;
}