@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap');

/* colors
 #1F2937 <- dark blue
#2D445E <- facebook dark blue 
#F9FAFB <- not white white*/


body {
    background-color: #E4EFFF;
}

.big-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    height: 100%;
    margin-top: 50px;
    width: 100%;
    font-family: 'Lexend';
}

.admin-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 0 20px;
    height: 100%;
    margin-top: 50px;
    width: 100%;
    font-family: 'Lexend';
    overflow: visible;
}

.sidebar img {
    width: 200px;
    height: auto;
}

.sidebar {
    background-color: #1F2937;
    color: #F9FAFB;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px 20px;
    border-radius: 10px;
    margin-top: 0.001%;
    width: max-content;
    height: 75%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-family: 'Lexend', sans-serif;
    margin-top: -10px;
}

caption {
    text-align: left
}

.logout button {
    background-color: #285E98;
    color: white;
    border: none;
    margin: 3%;
    border-radius: 5px;
    padding: 10px 10px;
    font-family: 'Lexend';
    width: max-content;
}

.logout button:hover {
    background-color: #E4EFFF;
    /* Lighter shade on hover */
    color: #285E98;
    /* White text on hover */
}

.bin-status {
    background: #F9FAFB;
    position: static;
    margin-top: 5%;
    margin-left: 3%;
    padding: 8px 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bin-status table {
    width: 100%;
    table-layout: fixed;
}

.bin-status table tr {
    padding: 10px;
    text-align: center;
}

.bin-status table th {
    padding: 15px;
    text-align: left;
}

.bin-status table td {
    padding: 15px;
    text-align: left;
}

.bin-status table td button {
    text-align: center;
}

.trash-log {
    background: #F9FAFB;
    margin-top: 3%;
    margin-left: 3%;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.trash-log table {
    width: 100%;
    table-layout: fixed;
}

.trash-log table tr {
    padding: 15px 15px;
    text-align: left;
}

.trash-log table th {
    padding: 15px 15px;
    text-align: left;
}

.trash-log table td {
    padding: 15px;
    text-align: left;
}

.waste-button {
    background-color: #285E98;
    color: white;
    border: none;
    margin: 3%;
    border-radius: 5px;
    padding: 10px 10px;
    font-family: 'Lexend';
    display: inline-block;
}

#map-container {
    height: 310px;
    width: 500px;
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.extra {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 15px 20px;
    border-radius: 10px;
}

.extra img {
    width: 500px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}