<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Waste Wizards Custodian Page</title>
    <link rel="stylesheet" href="custodian.css" />

    <script>
      const mapping = {
        hazardous: "Hazardous Pharmaceutical Waste",
        anatomical: "Biohazardous Waste",
        sharps: "Sharps Waste",
      };

      function onClick() {
        const req = {
          binname: document.getElementById("bin-names").value,
          wasteType: document.getElementById("wasteType").value,
        };
        fetch("/custodian", {
          method: "POST",
          body: JSON.stringify(req),
          headers: {
            "Content-type": "application/json; charset=UTF-8",
          },
        });
        const mapframe = document.getElementById("map-container");
        console.log(mapframe);
        mapframe.src = `map.html?start=${
          document.getElementById("bin-names").value
        }&end=${mapping[document.getElementById("wasteType").value]}`;
      }
    </script>
  </head>

  <body>
    <div class="form-card">
      <div id="user-image"></div>
      <div id="user-greeting">Welcome, User!</div>

      <select name="bin-names" id="bin-names">
        <option disabled selected value>-- select a room --</option>
        <option value="Room 201">Room 201</option>
        <option value="Room 211">Room 211</option>
        <option value="Room 250">Room 250</option>
        <option value="Room 257">Room 257</option>
      </select>

      <select name="wasteType" id="wasteType">
        <option disabled selected value>-- select waste type --</option>
        <option value="hazardous">Hazardous</option>
        <option value="anatomical">Anatomical</option>
        <option value="sharps">Sharps</option>
      </select>

      <button onclick="onClick()" id="submit">Submit</button>
    </div>

    <iframe id="map-container" src="./map.html" frameborder="0"></iframe>
  </body>
</html>
