<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Waste Wizards</title>
    <link rel="stylesheet" href="home.css" />
</head>

<body>
    <div class="container">
        <div class="sign-in-container">
            <h1> WasteWizard </h1>
            <div class="login">
                <a href="/login"><button>SIGN IN</button></a>
            </div>
        </div>
        <div class="logo">
            <img src="images/cleanwizardicon.png" alt="Waste Wizard Logo">
        </div>
    </div>
</body>

</html>