body {
    background-color: #E4EFFF;
}

.login button {
    position: absolute;
    top: 50%;
    left: 50%;
}

.wizard-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.wizard-container img {
    width: 500px;
    margin-top: 50px;
}

.sign-in {
    background-color: #285E98;
    top: 50%;
    left: 50%;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
}