body {
    background-color: #E4EFFF;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: inline-flex;
}

.login button {
    position: absolute;
    top: 50%;
    left: 50%;
}

.bg-shape {
    position
}