@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap');

body {
    background-color: #E4EFFF;
}

.container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    padding: 0 20px;
    height: 75%;
    margin: auto;
    width: 50%;
}

.sign-in-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    height: 75%;
}

h1 {
    font-size: 48px;
    font-family: 'Verdana'
}

.login button {
    background-color: #285E98;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-family: 'Verdana';
    display: inline-block
}